* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 24px;
}

.container {
    width: 80%;
    max-width: 1280px;
    margin: 0 auto;
}

h1 {
    padding-bottom: 30px;
}

.header .container {
    padding: 20px 0;
    background-image: linear-gradient(to right, rgb(74, 69, 69), rgb(171, 166, 166));
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav {
    flex: 3 3;
}

.header__logo, .header__cart {
    flex: 1 1;
    text-align: center;
}

.header__logo img {
    width: 20%;
    min-width: 100px;
} 

.header__nav ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    gap: 45px;
    padding: 0 100px;
}

.header__nav ul a {
    color: rgb(8, 11, 53);
    text-decoration: none;
    cursor: pointer;
}

.header__cart {
    display: flex;
    position: relative;
    align-items: center;
    gap: 20px;
}

.header__cart img {
    min-width: 30px;
}

.header__cart_count {
    background-color: rgb(215, 37, 37);
    width: 18px;
    height: 18px;
    border-radius: 50%;
    color: #fff;
    position: absolute;
    top: -8px;
    left: 22px;
    line-height: 18px;
    text-align: center;
    font-size: 12px;
}

.header__cart_amount {
    font-weight: bold;
    padding-left: 10px;
}

.home {
    height: 100%;
    color: #fff;
}

.home .container {
    padding: 40px 40px;
    height: 80vh;
    background-image: url(/images/internet-magazino_main.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
   
}

.shop {
    height: 100%;
}

.shop .container {
    padding: 40px 40px;
}

.catalog__list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.catalog__item {
    width: calc(25% - 30px);
    min-width: 200px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: space-between;
    align-items: center;
}

.catalog__item .image {
    display: block;
    margin: 0 auto 20px auto;
}

.catalog__item .image img {
    max-width: 100%;
    min-height: 150px;
    max-height: 150px;
}

.catalog__item .title {
    text-align: center;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 10px;
    text-decoration: none;
    width: 90%;
    text-align: center;
}

.catalog__item .title a {
    text-decoration: none;
    color: rgb(14, 20, 96);
}

.catalog__item .price {
    font-weight: bold;
    padding-bottom: 10px;
    margin-top: auto;
}

.catalog__item .add_cart {
    width: 70%;
    text-align: center;
    cursor: pointer;
    margin: 0 auto;
}

.contact {
    height: 100%;
    color: #fff;
}

.contact .container {
    padding: 40px 40px;
    height: 70vh;
    background-image: linear-gradient(rgba(255, 255 , 255, 0.5), rgba(0, 0 , 0, 0.7)), url(/images/nternet_magazinov.jpeg);
    background-repeat: no-repeat;
    background-size: 100%;
}


.product__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 40px;
}

.product__image {
    width: 50%;
    min-width: 200px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 20px;
}

.product__image>img {
    width: 60%;
}

.product__content .price {
    padding-bottom: 20px;
    font-weight: bold;
    font-size: 24px;
    text-align: end;
    font-size: 35px;
}

.product__description>h1 {
    font-size: 35px;
    line-height: 40px;
} 

.product__description .add_cart {
    cursor: pointer;
}

.product__content .description {
    padding-bottom: 20px;
    font-style: italic;
    font-size: 18px;
    line-height: 24px;
    width: 65%;
}

.cart {
    height: 100%;
    color: #fff;
}

.cart .container {
    padding: 40px 40px;
    background-color: #c8c3c3;
    height: 70vh;
   
}

.footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 30px;
    height: 25vh;
}

.footer__logo {
    padding: 0 0 0 60px;
}

.footer__logo img {
    width: 10%;
    min-width: 50px;
} 

.footer__contacts {
    padding: 0 30px 0 0;
}

.add_cart {
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    background-color: rgb(73, 241, 31);
}